* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  height: 15vh;
  width: 100%;
  background-color: #c02130;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bannar {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 3rem;
}
#container {
  display: flex;
  height: 85vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
#battle-box {
  height: 70vh;
  width: 70vw;
  background-color: #e3ecf2;
}
#action {
  height: 85%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

#button-box {
  height: 15%;
  width: 100%;
  background-color: #d7e3ea;
  display: flex;
  justify-content: space-around;
}
.btn {
  padding: 2.5% 10%;
  background-color: #d7e3ea;
  border: none;
  font-size: 1.5rem;
}
.btn:hover {
  background-color: #becbd3;
}
.delete {
  display: inline-block;
  border: 1px solid #c02130;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-type-container {
  text-align: center;
}
.delete:hover {
  background-color: #d7e3ea;
}
#win {
  text-align: center;
}
#player-pokemon {
  height: 400px;
  width: 400px;
}
#computer-pokemon {
  height: 300px;
  width: 300px;
}
#computer-health {
  font-size: 3rem;
  margin-left: 4vh;
}
#player-health {
  font-size: 3rem;
  margin-left: 8vh;
}
